
<div class="container">
    <div class="row pt-1 pb-4 position-relative justify-content-center">        
        <div class="d-inline-block">            
            <a href="{% url 'newest' %}">Best rated</a>            
        </div>
        <div class="d-inline-block font-weight-bold right-md-element right-sm-element">
            <a href="{% url 'best' %}">All best rated</a>
        </div>
    </div>

     <!-- Shows only on lg screens -->

    <div class="row">    
        {% for product in best_rated %}
            <div class="d-none d-lg-block col-lg-3">
                <div class="card card-border h-100">
                    {% if product.image %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}                                   
                    <div class="card-footer pt-0 border-0 text-left">
                        <div class="row title-height pt-1">
                            <div class="col">
                                <p class="mb-2 text-left small-font-8">{{ product.name }}</p>                                
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col">
                            <p class="mb-2 text-left lead">£{{ product.price }}</p>
                            </div>
                        </div>
                        <!-- add to basket button  -->
                        <div class="row">
                            <div class="col">
                                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}                        
                                    <input type="hidden" name="quantity" value="1" min="1" max="1">                                
                                    <input type="submit" class="btn-small rounded border-0 custom-btn" value="Add to Bag">
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
   
    <!-- Shows only on md screens -->

    <div class="row d-none d-sm-block d-md-block d-lg-none d-sm-flex d-md-flex justify-content-center">        
        {% for product in best_rated %}
            <div class="card  card-border py-1" style="width: 500px;">
                <div class="row no-gutters">
                    {% if product.image %}
                    <div class="col-sm-3">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img img-small" src="{{product.image.url}}" alt="{{ product.name }}">
                        </a>
                    </div>
                    {% else %}
                    <div class="col-sm-3">
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="img-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-sm-9">
                        <div class="card-body p-0">
                            <h6 class="card-title small-font">{{product.name}}</h6>                                                
                        </div>
                        <div class="ml pt-3">
                            <p class="lead mb-0 text-right">£{{ product.price }}</p>
                        </div>
                        <div class="ml pt-2">                            
                            <form class="form text-right" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}                        
                                <input type="hidden" name="quantity" value="1" min="1" max="1">                                
                                <input type="submit" class="btn-small rounded border-0 custom-btn" value="Add to Bag">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>    
        {% endfor %}        
    </div>

    <!-- Shows only on sm screens-->

    <div class="d-block d-sm-none justify-content-center w-100 no-gutters" style="overflow:hidden">       
        {% for product in best_rated %}   
            <div class="overflow-hidden mb-1 py-1 card-border">
            {% if product.image %}                    
                <div class="float-left pr-1">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="card-img img-small" src="{{product.image.url}}" alt="{{ product.name }}">
                    </a>
                </div>
                <div class="ml">                       
                    <p class="text-truncate small-font">{{ product.name }}</p>                            
                </div>
                <div class="ml pt-3">
                    <p class="lead mb-0 text-right">£{{ product.price }}</p>
                </div>
            </div>                      
            {% else %}
                <div class="col-sm-3 mb-2">
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="img-small" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                </div>                    
            {% endif %}              
        {% endfor %}
    </div>
    
    
    <hr>      
    
</div>
    


 
