    <!-- Register, login, management product links -->

    <div class="container-fluid">
        <div class="row sm-invisible">
            <div class="col-12">
                <ul class="list-inline list-unstyled float-right my-0">
                    {% if request.user.is_authenticated  %}
                        {% if request.user.is_superuser %}
                        <li class="list-inline-item mx-0">                       
                            <div class="dropdown">
                                <p class="nav-links-lg nav-links-md nav-links-xlg dropdown-toggle h6 text-muted" id="dropdownMenu2" data-toggle="dropdown" 
                                aria-haspopup="true" aria-expanded="false" >Product Management
                                    <div class="dropdown-menu light-orange" aria-labelledby="dropdownMenu2">
                                        <a class="dropdown-item" href="{% url 'add_product' %}">Add product</a>
                                        <a class="dropdown-item" href="{% url 'add_coming_soon' %}">Add new release</a>                                    
                                    </div>
                                </p>
                            </div>
                        </li>
                        {% endif %}
                        <li class="list-inline-item mx-0">
                            <a class="nav-links-lg nav-links-md nav-links-xlg font-orange" href="{% url 'profile' %}">My Profile</a>
                        </li>
                        <li class="list-inline-item mx-0">
                            <a class="nav-links-lg nav-links-md nav-links-xlg text-muted" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="list-inline-item mx-0">
                            <strong><a class="nav-links-lg nav-links-md nav-links-xlg font-orange" href="{% url 'account_login' %}">Login</a></strong>
                        </li>
                        <li class="list-inline-item mx-0">                        
                            <a class="nav-links-lg nav-links-md nav-links-xlg font-orange text-muted" href="{% url 'account_signup' %}">Register</a>                            
                        </li>
                        
                    {% endif %}                   
                </ul>        
            </div>
        </div>
        <hr class="mt-0 mb-1 sm-invisible">
        
        <!--  Hamburger  containing list of categories of books-->

        <div class="row d-lg-flex d-none d-lg-block pt-1 pb-3">           
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item mr-0">
                        <div id="mySidenav" class="sidenav">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <a href="{% url 'products' %}?genre=programming">Programming</a>
                            <a href="{% url 'products' %}?genre=hardware">Hardware</a>
                            <a href="{% url 'products' %}?genre=network">Network</a>
                            <a href="{% url 'products' %}?genre=web_application">Web applications</a>
                            <a href="{% url 'products' %}?genre=hacking">Hacking</a>
                            <a href="{% url 'products' %}?genre=electronics">Electronics</a>
                            <a href="{% url 'products' %}?genre=business">Bussines</a>
                            <a href="{% url 'products' %}?genre=graphics">Graphics</a>
                            <a href="{% url 'products' %}?genre=games">Games</a>
                            <a href="{% url 'products' %}?genre=databases">Databases</a>
                        </div>                  
            
                        <i class="fas fa-bars hamburger d-none d-lg-block mr-3 font-green" onclick="openNav()"></i>
                    </li>
                    <li class="list-inline-item text-center">
                        <strong>
                            <a class="navbar-brand font-orange" href="{% url 'home' %}">Bookshop<span class="font-green">.co.uk</span></a>
                        </strong>
                    </li>
                </ul>
                    
            </div>                              
                
            <!-- Searchbar-->

            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                    <form method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input class="form-control" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search font-green"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
            </div>

            <!-- Basket links -->


            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-lg-right my-0">
                    
                    <!--  Shopping bag-->

                    <li class="list-inline-item mx-0">
                        <a class="nav-links-lg nav-links-md" href="{% url 'view_bag' %}">                        
                            <i class="fas fa-shopping-cart font-orange"></i>                             
                        </a>                   
                    </li>                    
                    <li class="list-inline-item mx-0">                                                              
                        <strong>
                            <p class="my-0 nav-links-lg nav-links-md">£
                                {% if grand_total %}
                                {{ grand_total|floatformat:2 }}
                                {% endif %}                            
                            </p>
                        </strong>                                       
                    </li>
                </ul>        
            </div>
        </div>

        <!--  Categories of books-->

        <div class="row d-lg-flex d-none d-lg-block text-center py-1 orange rounded">
            <div class="col">
                <a href="{% url 'products' %}?category=books">Books</a>
            </div>
            <div class="col">
                <a href="{% url 'products' %}?category=ebooks">Ebooks</a>
            </div>
            <div class="col">
                <a href="{% url 'products' %}?category=videocourses">Videocourses</a>
            </div>
            <div class="col">
                <a href="{% url 'products' %}?category=audiobooks">Audiobooks</a>
            </div>
            <div class="col">
                <a href="{% url 'coming' %}">Coming soon...</a>
            </div>
        </div>
    </div>
    

