{% extends "base.html" %}
{% load static %}



{% block shop %}
 <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h4>Add product</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                   <form method="POST" action="{% url 'add_product' %}" class="mb-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div>
                        <a class="btn custom-btn" href="{% url 'products' %}">Cancel</a>
                        <button class="btn custom-btn" type="submit">Add Product</button>
                    </div>
                </form>   
            
            </div>
        </div>
 </div> 
  
{% endblock %}
